body{
    background-color: #f1f2f4;
    font-family: "Lato", sans-serif, "SiyamRupali", sans-serif;
    color: #333333;
}
.logo-search-others{
    display: flex;
    background-color: white;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3050;
    height: 80px;
    padding-top: 10px;
    border-bottom: 1px solid #cecfd1;
}
.logo-search-others::before{
    top: 48px; 
    box-shadow: 0px 2px 5px black;
}
.logo{
    margin-left: 90px;
    width: 110px;
    margin-top: 20px;
}
.search{
    margin-left: 100px;
    margin-top: 20px;
}
.search-input{
    width: 600px;
    height: 20px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid orange;
    font-size: 15px;
    background-color: white;
}
.search-input:focus{
    border: 1px solid #0397d3;
    outline: none;
}
.search-input[placeholder]{
    color: #495057;
}
.search-button{
    background-color: #0397d3;
    border: none;
    border-radius: 3px;
    height: 43px;
    width: 50px;
    position: relative;
    left: -10px;
    top: 3px;
    cursor: pointer;
}
.cart-sign-in{
    margin-left: 140px;
}
.sign-in{
    height: 35px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 15px;
    transition: background-color, 0.8ms ease-out;
}
.sign-in:hover{
    background-color: #33c24d;
    color: white;
}
.cart{
    position: relative;
    bottom: -12px;
}
.nav{
    background-color: white;
    margin-top: -18px;
    margin-left: -8px;
    margin-right: -8px;
}
.main-nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    justify-content: center;
    margin-top: 100px;
    border-bottom: 1px solid #89C4F4;
}
.main-nav li{
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    padding: 10px;
}
.main-nav li a{
    text-decoration: none;
    color: black;
    transition: color, 1s;
}
.main-nav li a:hover{
    color: #0397d3;
}
#active{
    color: #0397d3;
}
#offer:hover{
    color: #fd7e14;
}
.gift-text{
    position: relative;
    top: -3px;
}
.gift{
    height: 26px;
    padding-left: 8px;
    position: relative;
    top: 2px;
    left: -6px;
}
.sub-nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: white;
    margin-top: -18px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecfd1;
}
.sub-nav a{
    text-decoration: none;
    margin-left: 50px;
    color: black;
    transition: color, 1s;
}
.sub-nav a:hover{
    color: #0397d3;
}
#mela{
    color: #33c24d;
}
#mela:hover{
    color: black;
}
#stock{
    color: #E87E04;
}
#stock:hover{
    color: black;
}
.others-img img{
    height: auto;
    width: 355px;
    margin-left: 20px;
    position: relative;
    left: 72px;
    cursor: pointer;   
}
.products{
    height: 440px;
    width: 1120px;
    background-color: white;
    background-image: url(../images/books/book-back.png);
    margin-left: 90px;
    border-radius: 3px;
}
.row-head{
    color: #333333;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 22px
}
.product-row{
    display: flex;
}
.product-img{
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    display: block;
}
.diff{
    background-image: none;
}
.product-card{
    width: 220px;
    height: 326px;
    text-align: center;
    transition: opacity, 0.5s;
    position: relative;
    top: -2px;
    cursor: pointer;
}
.product-card:first-child{
    margin-left: 10px;
}
.product-card:last-child{
    margin-right: 10px;
}
.product-card:hover{
    box-shadow: 0px 3px 6px 4px #a2a2a2;
}
.view-all-btn{
    color: #0397d3;
    border: 1px solid #0397d3;
    height: 30px;
    background-color: white;
    width: 80px;
    font-size: 14px;
    box-shadow: 0px 3px 6px -4px #a2a2a2;
    border-radius: 2px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.view-all-btn:hover{
    background-color: #0397d3;
    color: white;
}
.banner{
    width: 1100px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 3px;
}
.add-to-cart-btn{
    position: relative;
    bottom: 200px;
    left: 35px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #ff9900;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    display: none;
    cursor: pointer;
}
.product-card:hover .add-to-cart-btn{
    display: block;
}
.details-btn{
    background-color: #0397d3;
    border: none;
    height: 40px;
    font-size: 16px;
    width: 220px;
    color: white;
    display: none;
    position: relative;
    bottom: 44px;
    cursor: pointer;
}
.products a{
    text-decoration: none;
}
.product-card:hover .details-btn{
    display: block;
}
.ctg-btn button{
    border: 1px solid #71cbf0;
    height: 55px;
    width: 205px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    position: relative;
    left: 70px;
    font-size: 16px;
    color: #333333;
    margin-left: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #0397d3 50%, #e3f3fa 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.ctg-btn button:hover{
    background-position: left bottom;
    color: white;
}
.floating-cart{
    position: fixed;
    top: 350px;
    left: 1250px;
    background-color: white;
    height: 80px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 2px 6px 4px gray;
}
.floating-cart:hover{
    color: #0397d3;
}
.floating-cart-img{
    padding-top: 15px;
    padding-right: 6px;
}
.cart-amount{
    font-size: 13px;
    position: relative;
    top: -8px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.acpt-pmnt{
    background-color: white;
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2;
    height: 80px;
    justify-content: center;
    margin-right: -8px;
    margin-left: -8px;
    padding-top: 30px;
}
.pmnt-srvc{
    display: inline;
    padding-left: 10px;
}
.pmnt-text{
    display: inline;
    margin-left: 250px;
    position: relative;
    bottom: 8px;
    margin-right: 20px;
}
.about-rokomari-sec{
    background-color: white;
    height: 100px;
    margin-right: -8px;
    margin-left: -8px;
    padding: 10px;
}
.about-rokomari{
    text-align: center;
    word-spacing: 3px;
    font-size: 14px
}
.copyright{
    text-align: center;
    font-size: 14.4px;
    letter-spacing: -0.5px;
    height: 20px;
}
.footer-row-1{
    float: left;
}
.footer-main{
    background-color: white;
    padding-top: 60px;
    padding-left: 60px;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-top: 50px;
}
.footer-info{
    height: 300px;
    width: 400px;
}
.hotline{
    margin-top: 30px;
}
.hotline p{
    position: relative;
    top: -40px;
    left: 30px;
    color: #a2a2a2;
}
.hotline em{
    position: relative;
    top: -80px;
    left: 90px;
}
.corporate{
    margin-top: -50px;
}
.corporate img{
    position: relative;
    top: 30px;
}
.corporate p{
    position: relative;
    top: -10px;
    left: 30px;
    color: #a2a2a2;
}
.corporate em{
    position: relative;
    top: -80px;
    left: 110px;
}
.mail{
    margin-top: -30px;
}
.mail p{
    position: relative;
    top: -38px;
    left: 40px;
}
.mail a{
    text-decoration: none;
    color: #a2a2a2;
    transition: color, 1s;
}
.mail a:hover{
    color: #0397d3;
}
.address{
    margin-top: -30px;
}
.address p{
    position: relative;
    top: -38px;
    left: 40px;
} 

.p p{
    position: relative;
    right: 18px;
    font-weight: 700;
}
.p ul{
    list-style-type: circle;
    font-size: 14px;
}
.p a{
    cursor: pointer;
    text-decoration: none;
    color: #495057;
}
.p a:hover{
    color: #0397d3;
}
.col-1{
    margin-bottom: 40px;
}
.footer-row-3{
    position: absolute;
    left: 750px;
    top: 10582px;
}
.col-3 ul{
    position: relative;
    right: 40px;
}
.col-4{
    margin-top: 42px;
}
.col-4 ul{
    position: relative;
    right: 40px;
}
.footer-row-4{
    position: absolute;
    left: 1100px;
    top: 10582px;
}
.col-5 ul{
    position: relative;
    right: 40px;
}
.col-6{
    margin-top: 88px;
}
.col-6 ul{
    position: relative;
    right: 40px;
}
.slide{
    background-color: white;
    height: 280px;
    width: 1120px;
    position: relative;
    left: 90px;
    margin-bottom: 30px;
    background-image: url("../images/slides and others/slide-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: slider 20s infinite linear;
}
@keyframes slider{
    25%{background-image: url("../images/slides and others/slide-1.png");}
    50%{background-image: url("../images/slides and others/slide-2.jpg");}
    75%{background-image: url("../images/slides and others/slide-3.png");}
    100%{background-image: url("../images/slides and others/slide-4.jpg");}
}
.price{
    color: black;
    font-weight: 550;
}
.price del{
    color: #333333;
    font-weight: normal;
}
.author{
    font-size: 12px;
}